# IDE Project Files
# TODO: add folder/file types as needed
.idea/
cmake-build-debug/
CMakeLists.txt

# Python compiled byte-code and dlls
*.pyc
*.pyo
*.pyd

# C/C++ build files
*.o
*.obj
*.a
*.exe

# Native (C/C++/etc) build folders
native/build/
# Settings file (sensitive data)
config/settings.json
