{% extends 'hub/base.html' %}
<!-- TODO: Implement flashcard version -->
{% block title %}
    StudentHub || Trivia
{% endblock %}

{% block content %}
<h1 align="center">Flashcards!</h1>
<form method="post" action="study"> {% csrf_token %}
    <div id="trivia-options" align="center">
    <select name="subject-questions" size="1" id="sub-select"></select>
    <select name="course-questions" size="1" id="course-select"></select>
    <select name="module-questions" size="1" id="mod-select"></select>
    <select name="qty-questions" size="1" id="qty-select"></select>
    <br>
    <input type="submit" value="Study Flashcards">
    </div>
</form>

<br><br><br>
{% endblock %}


{% block script %}
<script>
    // Flashcard schema object
    var flashcardScheme = {
        subject: ['{{ SELECT }}'],
        course: ['{{ SELECT }}'],
        module: ['{{ SELECT }}'], // Prepend list with ANY_CATEGORY option
        qty: [5, 10, 15]
    };


    /* Populate flashcard classifications */
    var flashcardCat = { }; // dictionary for flashcard classifications - root

    // Iteratively populate subjects
    // level 1 subject sub-trees
    {% if subject_list %}
        {% for subject in subject_list %}
            flashcardScheme.subject.push('{{ subject }}');
            // initialize sub-dictionaries for each subject
            flashcardCat['{{ subject }}'] = {};
        {% endfor %}
    {% endif %}

    // Iteratively populate courses
    // level 2 course sub-trees
    {% if course_list %}
        {% for course in course_list %}
            flashcardScheme.course.push('{{ course }}');
            // associate course with "parent" subject
            flashcardCat['{{ course.subject }}']['{{ course }}'] = [];
        {% endfor %}
    {% endif %}

    // Iteratively populate Modules
    // level 3 leaves
    {% if module_list %}
        {% for module in module_list %}
            flashcardScheme.module.push('{{ module }}');
            // associate module with "parent" course and subject
            for (var subject in flashcardCat) {
                // course is a required field - remove this conditional?
                if (flashcardCat[subject].hasOwnProperty('{{ module.course }}')) {
                    flashcardCat[subject]['{{ module.course }}'].push('{{ module }}')
                }
                // unreachable block - course is a required field of module
                else {
                    // TODO: Implement this?
                }
            }
        {% endfor %}
    {% endif %}

    // Populate subject, course, and module dropdowns
    populateSelectElement('sub-select', flashcardScheme.subject);
    populateSelectElement('course-select', flashcardScheme.course);
    populateSelectElement('mod-select', flashcardScheme.module);
    // Populate qty list
    populateSelectElement('qty-select', flashcardScheme.qty);



    console.log(flashcardCat); // verify classifications in dictionary-based n-ary tree


    var testCounter = 0; // TODO: remove - debug
    // Update valid course and modules on subject selection

    // get refs to drop downs
    var subjectDropdown = document.getElementById('sub-select');
    var courseDropdown = document.getElementById('course-select');
    var moduleDropdown = document.getElementById('mod-select');
    console.log(subjectDropdown.options[subjectDropdown.selectedIndex].value); // debug what it's comparing
    console.log('{{ SELECT }}');
    console.log(subjectDropdown.options[subjectDropdown.selectedIndex].value == '{{ SELECT }}');
    // user selects a different "subject" option
    subjectDropdown.onchange = function() {
        console.log("Subject changed!" + testCounter++); // TODO: remove - debug
        // remove previous options
        clearDropDown(courseDropdown);
        clearDropDown(moduleDropdown);

        // Filter - All subjects and their children classifications
        if (subjectDropdown.options[subjectDropdown.selectedIndex].value == '{{ SELECT }}') {
            // populate all 2 "sub" menus with default values
            populateSelectElement('course-select', flashcardScheme.course);
            populateSelectElement('mod-select', flashcardScheme.module);

            console.log('default selection');
        }
        // Filter - One subject and its children classifications
        else {
            let subject = subjectDropdown.options[subjectDropdown.selectedIndex].value;
            // populate course drop down
            let courseList = Object.keys(flashcardCat[subject]);
            populateSelectElement('course-select', courseList);

            // iteratively collect all modules "in" selected subset
            let moduleList = [];
            courseList.forEach(function (courseKey) {
                 // iterate through all modules
                flashcardCat[subject][courseKey].forEach(function(moduleLeaf) {
                    moduleList.push(moduleLeaf)
                });
            });
            // populate module drop down
            populateSelectElement('mod-select', moduleList);
        }

    };

    /**
     * Helper function to clear a drop down menu
     * @param dropDown dom select menu to clear
     */
    function clearDropDown(dropDown) {
        // remove previous flashcard if any
        while (dropDown.firstChild) {
            dropDown.removeChild(dropDown.firstChild);
        }
    }

</script>

{% endblock %}